<!DOCTYPE html>
<html>
  <head>
    <title>Patrol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar static: :top, inverse: true, brand: "Patrol", responsive: true do %>
      <%= menu_group do %>
        <%= menu_item "Devices", devices_path %>
        <%= menu_item "Logs", logs_path %>
      <% end %>
    <% end %>

    <div class="page_content">
      <%= yield %>
    </div>
  </body>
</html>
